@import '/src/App.module.scss';

.productList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  flex: 1;
}

.productListContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.productItem {
  display: flex;
  flex-direction: column;
  width: calc(16.666% - 16px);
  margin-right: 16px;
  margin-bottom: 20px;
  border: 1px solid #d9dad8;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  color: $gray-color;
  background-color: $background-color-light;
}

@media (max-width: 768px) {
  .productItem {
    width: calc(50% - 16px);
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .productList {
    gap: 10px;
    justify-content: center;
  }
  .productName {
    height: 10vh;
  }
}

.productItem:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productName {
  height: 6vh;
  font-weight: 600;
}

.productId {
  opacity: 10%;
}

.price {
  color: $primary-color;
}
